/* ----------------------------------
	hp_deviceOnly
	画面幅に応じた表示・非表示用スタイル
------------------------------------ */
@use "@/styles/global" as *;

.mobileOnly {
  display: none !important;

  @include mq_max_md {
    display: block !important;
  }
}

.desktopOnly {
  display: block !important;

  @include mq_max_md {
    display: none !important;
  }
}
