/* ----------------------------------
	mv
  メインビジュアル
------------------------------------ */
@use "@/styles/global" as *;

.mv {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.mv_image {
  width: 100%;
  height: 620px;
  object-fit: cover;
}

.mv_textContainer {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 263px;
}

.mv_title {
  font-size: rem(120);
  color: $c_white;
}

.mv_subtitle {
  display: flex;
  align-items: center;
  margin-top: 7px;
  font-size: rem(16);
  line-height: calc(27 / 16);
  color: $c_white;

  &::before {
    display: block;
    width: 12px;
    height: 2px;
    margin-right: 8px;
    content: "";
    background-color: $c_white;
  }

  &::after {
    display: block;
    width: 12px;
    height: 2px;
    margin-left: 8px;
    content: "";
    background-color: $c_white;
  }
}
